<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Epoint.Lists" publicKeyToken="3e07b9e1987d105e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.8" newVersion="2.0.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Epoint.Systems" publicKeyToken="3e07b9e1987d105e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.8" newVersion="2.0.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Epoint.Systems.Librarys" publicKeyToken="3e07b9e1987d105e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.8" newVersion="2.0.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Epoint.Systems.Commons" publicKeyToken="3e07b9e1987d105e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.8" newVersion="2.0.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Epoint.Systems.Data" publicKeyToken="3e07b9e1987d105e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.8" newVersion="2.0.1.8" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Epoint.Systems.Elements" publicKeyToken="3e07b9e1987d105e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.8" newVersion="2.0.1.8" />
      </dependentAssembly>
     
    </assemblyBinding>
  </runtime>
</configuration>